@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
}
.header{
  z-index:99;
}

.shadowed{
  box-shadow: 0 3px 6px rgba(80, 76, 76, 0.104), 0 3px 6px rgba(124, 118, 118, 0.132);
}
.zoom{
  transition:  2s ease;
}

.card:hover .zoom{
  background-size: 190%;
}
.card:hover .buy{
  @apply bg-theme;
  @apply text-secondary;
}

input{
  background-color: transparent;
}